.spot-details_wrapper{
  margin: auto;
  max-width: 1350px;
}

.spot-details-container {
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.images-wrapper {
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.images-wrapper > * {
  align-self: center;
  flex: 1;
}

.large-image {
  cursor: pointer;
  width: 100%;
  height: auto;
  
}

.small-image {
  cursor: pointer;
  max-width: calc(50% - 8px);
  height: auto;
  display: block;
  margin-bottom: 8px;
}

.small-image-row {
  display: flex;
  justify-content: space-between;
}

.callout-box {
  background-color: #f4f4f4;
  width: 350px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;

}

.callout-box__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.price {
  flex: 1;
  text-align: left;
  font-size: 18px;
  color: #333;
  margin: 0;
}

.reviews-and-stars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 16px;
  color: #333;
  margin-right: 20px;
}

.reserve-btn {
  align-self: center;
  width: 30%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserve-btn:hover {
  background-color: #0056b3;
}

.details-wrapper{
  max-width: 60%;
}

.description{
  word-wrap: break-word;
}


.rating-reviews__block {
  /* border-top: 1px solid black; */
  padding-top: 10px;
  /* margin-top: 20px;  */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  font-size: 18px; 
  color: #333;
  text-align: center; 

}

.rating-reviews__block .star-rating {
  font-size: 24px; 
  margin-bottom: 8px; 
  margin-right: 10px;
}

.rating-reviews__block p {
  margin: 0; 
}

.dot{
  margin: 0 5px; 
}

.star-rate-review-wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.large-single-image-wrapper{
  align-self: center;
  display: flex;

}

.images{
  align-self: center;
}

.large-single-image {
  display: block;
  margin: auto;
  max-width: 80%;
  height: auto;
  align-self: center;
}

.hosted-by-name{
  font-size: 24px;
  font-weight: 600;
}

.user-info-box-wrapper{
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid black;
}
